* {
	button {
		cursor: pointer;
	}
}

.noise {
	background-image: url(/images/noise.png);
	background-repeat: repeat;
	mix-blend-mode: overlay;
	pointer-events: none;
}

.check {
	border: 1px solid red;
}
