PRIVATE_KEY=0x           # wallet that deploys the contract (you own this)
ORACLE_ADDRESS=0x        # server wallet address that will call recordWin
CELOSCAN_API_KEY=        # from celoscan.io/myapikey
