# Foundry build output
out/
cache/

# Dependencies
lib/

# Environment
.env

broadcast/*

# Broadcast (contains sensitive tx data)
broadcast/*/31337/

# Makefile may contain private keys
Makefile

script

